@font-face{
font-family: engit;
src: url('GentiumPlus-I.ttf');
}
@font-face{
font-family: eng;
src: url('GentiumPlus-R.ttf');
}

body
{
font-family: eng; 	
font-size: 1em;	
text-align: left;
text-indent: 0em;
border: 0 none;
margin: 0em;
padding: 1em;
}

.page{
line-height: 1.5em;	
}

.en{
font-family: sans-serif;
}

.title{
font-family: eng;
font-size: 200%;
font-weight: bold;
margin-top: 1em;
text-align: center; 
line-height: 1.2em;
}

p img.logo{
width: 10%;
display: block;
padding-bottom: 1em;
margin: auto auto;
}

.chapter{
font-family: eng;
font-size: 150%;
font-weight: bold;
margin-bottom: 1em;
text-align: left; 
}

.level1-title {
font-family: eng;
font-size: 140%;
font-weight: bold;
margin-bottom: 1em;
text-align: left;
}

.level2 {
margin-top: 2em;
}

.level2-title{
font-family: eng;
font-size:  130%;
font-weight: bold;
margin-bottom: 1em;
text-align: left;
}

.para-title{
font-family: eng;
font-weight: bold;
text-align: left;
}

table {
border-collapse: collapse;
}

table, th, td {
border: 1px solid black;
margin: 0.5em;
padding: 0.5em;
}

table caption{
font-family: eng;
font-weight: bold;
}

figure figcaption{
font-family: eng;
font-weight: bold;
text-align: center;
margin-top: 1ex;
}

p.text-body{
line-height: 1.5em;
}


div figure img{
display: block;
max-width: 500px;
margin-left: auto;
margin-right: auto;
}

figure{
margin-bottom: 4ex;
}


.author{
font-family: eng;
font-size: 100%;
font-weight: bold;
text-align: center;
}

.left{
text-align: left;
}

.right{
text-align: right;
}

.center{
text-align: center;
}

.italic, i{
font-family: eng;
font-style: italic; 
}

.bold, b{
font-family: eng;
font-weight: bold;
}

dl {
  }
dt{
float: left;
clear: left;
width: 60px;
text-align: right;
font-weight: bold;
}
dd{
margin: 0 0 0 80px;
padding: 0 0 0.5em 0;
}

dd ul{
padding-left: 20px;
}

dd dd dt{
width: 40px;
}

.gap-above-medium{
margin-top: 1.5em;
}
.gap-above-large{
margin-top: 2.5em;
}
