*/*.dvi
*/*.log
*/src/*.log
*/*.aux
*/*.toc
*/*.ps
*/*.zip
*/*.pdf
*/*.ent
*/src/*.*~
*/*.idx
*/*.ind
*/*.ilg
*/supporting_files/


*/*/*.log
*/*/*.aux
*/*/*.ps
*/*/*.pdf
*/*/*.*~
*/*/*.toc
*/*/*.dvi
*/*/birds/
*/*/map/
*/*/*.docx
*/*/*.doc
*/*/*.out

*/*/*.idx
*/*/*.ilg
*/*/*.ind

*/*/supporting_files
*/*/proofs
*/supporting_files
*/fonts/
*/original/
