ganitavaividya/*.dvi
ganitavaividya/*.log
ganitavaividya/src/*.log
ganitavaividya/*.aux
ganitavaividya/*.toc
ganitavaividya/*.ps
ganitavaividya/src/*.*~

sankyaprapanca/*.dvi
sankyaprapanca/*.log
sankyaprapanca/*.aux
sankyaprapanca/*.toc
sankyaprapanca/*.ps
sankyaprapanca/src/*.*~
