ganitavaividya/*.dvi
ganitavaividya/*.log
ganitavaividya/*.aux
ganitavaividya/*.toc
ganitavaividya/*.ps

sankyaprapanca/*.dvi
sankyaprapanca/*.log
sankyaprapanca/*.aux
sankyaprapanca/*.toc
sankyaprapanca/*.ps
