@font-face {
	font-family: 'Sanskrit2003';
	src: url('Sanskrit2003.ttf');
	unicode-range: U+0900-097F;
}

body {
	font-family: "Gentium", "Nudi", "Devanagari", "Sanskrit2003", sans-serif !important; 	
	font-size: 1em;
	box-sizing: border-box;
}

.example-td {
text-align: left;
}


